@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-primary: #5b13ec;
  --color-background-light: #f6f6f8;
  --color-background-dark: #161022;
  --font-display: 'Inter', sans-serif;
}

* {
  scrollbar-color: #6f4aff transparent;
  scrollbar-width: thin;
}

body {
  font-family: var(--font-display);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

ul {
  @apply list-disc ml-4;
}
